Exported Items.bib
main_POST_review_attuale.aux
main_POST_review_attuale.blg
main_POST_review_attuale.bbl
main_POST_review_attuale.fdb_latexmk
main_POST_review_attuale.fls
main_POST_review_attuale.log
main_POST_review_attuale.out
main_POST_review_attuale.pdf
main_POST_review_attuale.synctex.gz
.vscode/
